@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans'), local('NotoSans'), url('../../fonts/NotoSans-Regular.ttf') format('truetype');
}

* {
 font-family: 'Noto Sans';
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
}

.mdl-textfield__input, .mdl-textfield__label {
	  font-family: 'Noto Sans', 'Roboto','sans-serif';
}

.panel {
  position: absolute;
  margin: auto;
  top: 90%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  opacity: 0.8;
  display: inline-block;
  filter: alpha(opacity=80);
  background-color: transparent;
  text-align: center;
  font-family: 'Noto Sans', 'Roboto','sans-serif';
}

.mdl-textfield__error {
	width: 100%;
	left: 0;
 text-align: left;
}

////////////////////////////
/*ГРЕБАНЫЕ ПРИКОЛЫ ОГНЕЛИСА И ХРОМА*/
/*Я МЕШАЮ ЛОЖКОЙ КОТЁЛ В КОТОРОМ ВАРЯТСЯ РАЗРАБОТЧИКИ*/
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}
////////////////////////////
