@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans'), local('NotoSans'), url('../../fonts/NotoSans-Regular.ttf') format('truetype');
}

* {
 font-family: 'Noto Sans';
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
}

.panel {
  position: absolute;
  margin: auto;
  top: 90%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  opacity: 0.8;
  display: inline-block;
  filter: alpha(opacity=80);
  background-color: transparent;
  text-align: center;
  font-family: 'Noto Sans', 'Roboto','sans-serif';
}
