<a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">Login with VK</a>
<form id="login-form" action="/login/" method="POST" accept-charset="UTF-8">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-bottom: 10px;">
    <label class="mdl-textfield__label"  for="login_username" style="text-align: center;">Логин</label>
    <input class="mdl-textfield__input" type="text" name="login_username" value="" id="username"/>
    <span class="mdl-textfield__error" id="input-error-login_username" style="text-align: center;"></span>
  </div>
</br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-bottom: 10px;">
    <label class="mdl-textfield__label" for="login_password" style="text-align: center;">Пароль</label>
    <input class="mdl-textfield__input" name="password" type="password" value="" id="password"/>
    <span class="mdl-textfield__error" id="input-error-login_password" style="text-align: center;"></span>
  </div>
  <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    <button id='btn-login' type="submit" class="save mdl-button mdl-button--raised mdl-js-button mdl-button--accent" style="text-align: center; font-family: 'Noto Sans';">Зайти</button>
    <button type="button" class="close mdl-button mdl-js-button" style="text-align: center; font-family: 'Noto Sans'; margin-top: 5px;">Закрыть</button>
  </div>
</form>
